<html>
<head>
	<title></title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class='pane'>
		<h1>All Restaurants</h1>
		<br>
		<div class='flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}

				<ul>
					{% for message in messages %}
						<li><strong> {{ messages[0] }} </strong></li><br>
					{% endfor %}

				</ul>
				{% endif %}
			{% endwith %}
		</div>

		<a href="{{ url_for('newRestaurant') }}">Create New Restaurant</a><br><br>

		{% if restaurants %}
			{% for r in restaurants %}
				
				<h4>{{ r.name }}</h4>

				<a href="{{ url_for('showMenu', restaurant_id = r.id) }}">Menu</a><br><br>

				<a href='{{ url_for('editRestaurant', restaurant_id=r.id) }}'>Edit</a><br>
				<a href='{{ url_for('deleteRestaurant', restaurant_id=r.id) }}'>Delete</a><br>
				
					<br>
					
			{% endfor %}
		{% else %}
			<p>No restaurants to show</p>


		{% endif %}
	</div>

</body>
</html>